input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input[type=range] {
  -webkit-appearance: none; 
    width: 10%;
    height: 2px;
    background: gainsboro;
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid black;
  height: 2em;
  width: 1em;
  background: #e6e5d5;
  cursor: pointer;
  box-shadow: inset 1px 1px 1px gray, 0px 0px 1px gray;
}
.fieldset-one {
    background-color: lightyellow;
    border: 0.7em solid yellow;
    margin-bottom: 1em;
}
/*.components {
    margin-bottom: 1em;
}*/
.labels {
    display: inline-block;
    text-align: right;
    width: 25%;
}
.vert {
    vertical-align: top;
}
.slider {
    -webkit-appearance: none;
    display: inline-block;
    width: 10%;
    height: 2px;
    background: gainsboro;
    outline: none;
}
.sliderLabelsLow {
    display: inline-block;
    width: 3em;
    background-color: #a0252f;
    text-align: center;
    color: white;
}
.sliderLabelsHigh {
    display: inline-block;
    width: 3em;
    background-color: #631065;
    text-align: center;
    color:  white;
}
#age {
    width: 3em;
}
#dropdown {
    width: 13em;
}